{% extends 'base.html' %}
{% block content %}
<div class="card ">
    <div class="card-body">
        <h3 class="card-title text-center">Materiales</h3>
        <div class="card-text">
            {% if msg !='' %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <strong>{{msg}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>
            {% endif%}
            <form method="POST" id="user-form" name="user-form">
                <div class="form-group mt-3">
                    <div class="row">
                            <label for="idmateriales" class="col-3 col-form-label">Codigo: </label>
                            <input type="number" class="form-control col-4" name="idmateriales" id="idmateriales">
                        <div class="col-3">
                            <button type="button" onclick="buscarMateriales()" id="btn-buscar"
                                class="btn btn-info">Buscar</button>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-6">
                        <label for="descripcion">Descripcion</label>
                        <input type="text" class="form-control " name="descripcion" id="descripcion" required>
                    </div>
                    <div class="col-6">
                        <label for="precio">Precio</label>
                        <input type="number" class="form-control " name="precio" id="precio" required>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-6">
                        <label for="cantidad">Cantidad</label>
                        <input type="number" class="form-control " name="cantidad" id="cantidad" required>
                    </div>
                </div>
                </div>
                 <div class="form-group m-3">
                    <div class="col-md-12 text-center">
                        <button type="button" id="btn-nuevo" onclick="nuevoMateriales()"
                            class="btn btn-danger">Nuevo</button>
                        <button type="submit" id="btn-guardar" class="btn btn-danger" disabled>Guardar</button>
                        <button type="submit" onclick="eliminarMateriales()" id="btn-eliminar" class="btn btn-danger" disabled>Eliminar</button>
                        <button type="button" onclick="salir()" id="btn-salir" class="btn btn-danger">Salir</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<script src="static/js/materiales.js"></script>
{% endblock %}
